<section class="w3l-medpill-footer ">
    <footer class="footer-28">
        <div class="footer-bg-layer">
            <div class="container py-lg-3">
                <div class="row footer-top-28">
                    <div class="col-lg-4 col-md-6 col-sm-7 footer-list-28 mt-sm-5 mt-4">
                        <h6 class="footer-title-28">Philips Healthcare</h6>
                        <img src="assets/images/Philips-Shield.webp" alt="Your logo" title="Your logo" style="height:200px;" />
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-5 footer-list-28 mt-sm-5 mt-4">
                        <h6 class="footer-title-28">Company</h6>
                        <ul>
                            <li><a routerLink="/">Mission and values</a></li>
                            <li><a routerLink="/">Publications and reports</a></li>
                            <li><a routerLink="/">Ladership and Awards</a></li>
                            <li><a routerLink="/">Diversity is Our Specialty</a></li>
                            <li><a routerLink="/">Policies & Procedures</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-4 footer-list-28 mt-sm-5 mt-4">
                        <h6 class="footer-title-28">Our Products</h6>
                        <ul>
                            <li><a routerLink="/">Advanced Molecular Imaging</a></li>
                            <li><a routerLink="/">Clinical Informatics</a></li>
                            <li><a routerLink="/">Computed Tomography</a></li>
                            <li><a routerLink="/">Diagnostic ECG</a></li>
                            <li><a routerLink="/">Patient Monitoring</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-8 footer-list-28 mt-sm-5 mt-4">
                        <h6 class="footer-title-28">Support Timings</h6>
                        <ul class="timing mb-lg-4">
                            <li><a routerLink="/"><span class="fa fa-clock-o"></span>Mon to Fri : <span>09:00 - 20:00</span></a></li>
                            <li><a routerLink="/"><span class="fa fa-clock-o"></span>Saturday : <span>09:00 - 12:00</span></a></li>
                            <li><a routerLink="/"><span class="fa fa-clock-o"></span>Sunday : <span>09:00 - 12:00</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="midd-footer-28 align-center py-lg-4 py-3 mt-md-5 mt-3">
            <div class="container">
                <p class="copy-footer-28 text-center"> &copy; 2020 Koninklijke Philips N.V., All Rights Reserved.
                </p>
            </div>
        </div>

    </footer>
</section>