<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 py-md-3">
            <h2>About Philips </h2>
            <p>Creating a healthier future </p>
        </div>
    </div>
</section>

<!-- w3l-content-photo-5 -->
<div class="w3l-content-photo-5 py-5">
    <div class="content-main py-lg-5 py-md-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 content-left">
                    <h4>Delivering meaningful solutions by doing the right thing</h4>
                    <p class="mb-0">
                      Royal Philips is a diversified technology company, focused on improving people’s lives through meaningful innovation. Our health care business makes up 42% of our global sales revenue.
                      <br><br>

                      With a century of history and more than 450 innovative products and services, we are ready to meet today’s challenges in healthcare by creating solutions that deliver better care to more people at lower cost.
                      <br><br>
                      Our more than 37,000 employees, working in 100 countries, are committed to helping you create meaningful moments of care, whether in the hospital room, the living room or the boardroom. See how we are working to create a healthier future together. </p>
                    <a routerLink="/" class="btn-style btn-primary btn mt-lg-5 mt-4">Learn More</a>
                </div>
                <div class="col-lg-4 content-photo mt-lg-0 mt-md-5 mt-4">
                    <h4>About Us</h4>
                    <a routerLink="/"><img src="assets/images/healthcare.jpg" class="img-fluid" alt="content-photo"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //w3l-content-photo-5 -->

<!-- //counter-6-->
<section class="w3l-text-6 py-5">
    <div class="text-6-mian bottom-space pt-5 py-lg-5 py-sm-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 right-img sec-img-ab p-0 mx-sm-0 mx-4">
                    <img src="assets/images/service.jpg" alt="" class="img-responsive img-fluid" />
                </div>
                <div class="offset-lg-1 col-lg-6 left-cont sec-grid-ab mt-lg-0 mt-5">
                    <h4>A fresh perspective on the future of health</h4>
                    <p>
                      At Philips, we look beyond technology to the experiences of patients, providers and caregivers across the patient journey. By understanding their needs, we unlock insights leading to solutions for the most meaningful moments of care, whether in the hospital or the home. We bring together clinical breadth and depth of expertise, technology and services, actionable data, consultative new business models and partnerships.</p>
                    <a routerLink="about" class="btn btn-primary btn-style mt-sm-5 mt-4"> Learn More </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //portfolio -->
<section class="w3l-progress-6">
    <!-- /counter-6-->
    <div class="progress-66-info py-5">
        <div class="container py-lg-5 py-sm-3">
            <div class="counter-grids-info row">

                <div class="col-lg-6 offset-lg-6">
                    <h4>
                      From the hospital room to the living room</h4>


                </div>
            </div>
        </div>
    </div>
</section>
<!-- //counter-6-->
<!-- teams 32 block -->

