<!-- //Domain modal -->
<section class="w3l-main-slider" id="home">
    <!-- main-slider -->
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>Let's Fight Covid-19 Together</h5>
                                    <p>As the world navigates the unprecedented challenge presented by the COVID-19 pandemic, we at Philips Healthcare support healthcare providers, partners, communities, and patients around the world in addressing it. .</p>
                                    <a class="btn btn-style btn-style-outline mt-sm-5 mt-4" routerLink="product"> Our Products</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>
                                      Connecting data, technology and people, seamlessly. </h5>
                                    <p>Health knows no bounds. And neither should healthcare. At Philips, we believe there's always a way to make life better.</p>
                                    <a class="btn btn-style btn-style-outline mt-sm-5 mt-4" routerLink="product"> Our Products</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top3 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>A healthier world with more precise and efficient care </h5>
                                    <p>Health knows no bounds. And neither should healthcare. At Philips, we believe there's always a way to make life better.</p>
                                    <a class="btn btn-style btn-style-outline mt-sm-5 mt-4" routerLink="product"> Our Products</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>
    <!-- /main-slider -->
</section>

<!-- services page block 1 -->
<section class="w3l-features py-5">
    <div class="container py-lg-5 py-3">
        <div class="row main-cont-wthree-2">
            <div class="col-lg-6 feature-grid-right">
                <img src="assets/images/healthcare.jpg" class="img-fluid" alt="healthcare">
            </div>
            <div class="col-lg-6 feature-grid-left mt-lg-0 mt-sm-5 mt-4">
                <h4 class="title-left">Enhancing diagnostic confidence. Improving patient care</h4>
                <p class="text-para">Solutions that are designed to help you confidently diagnose and care for your patients.  </p>
                <div class="stats_main text-center">
                    <div class="w3l-stats">
                        <div class="">
                            <img src="assets/images/patients.png" class="img-fluid">
                        </div>
                        <div class="info-feature mt-3">
                            <h5 class="w3l-stats-txt"><a href="#url">1.5 B</a></h5>
                            <p class="stats-text">Lives touched</p>
                        </div>
                    </div>
                    <div class="w3l-stats">
                        <div class="">
                            <img src="assets/images/services.png" class="img-fluid">
                        </div>
                        <div class="info-feature mt-3">
                            <h5 class="w3l-stats-txt"><a href="#url">457</a></h5>
                            <p class="stats-text">Products</p>
                        </div>
                    </div>
                    <div class="w3l-stats">
                        <div class="">
                            <img src="assets/images/award.png" class="img-fluid">
                        </div>
                        <div class="info-feature mt-3">
                            <h5 class="w3l-stats-txt"><a href="#url">1,395</a></h5>
                            <p class="stats-text">Awards</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
